<section class="section_partner">
    <section class="container pt-5">
        <div class="card">
            <div class="card-header">
                <h1>+ Criar Empresa</h1>
            </div>
            <div class="card-body">
                <form>
                    <input type="text" name="name" [(ngModel)]="company.name" class="form-control" placeholder="Informe o nome da Empresa">
                    <input type="text" name="cnpj" [(ngModel)]="company.cnpj"  class="form-control mt-4" placeholder="Informe o CNPJ da Empresa">
                    <input type="text" name="site" [(ngModel)]="company.site" class="form-control mt-4" placeholder="Informe o Site da Empresa">
                    <input type="text" name="phone" [(ngModel)]="company.phone" class="form-control mt-4" placeholder="Informe o Telefone da Empresa">
                    <button (click)="create()" class="btn btn-primary mt-3"><i class="bi bi-building"></i> Fazer Cadastro</button>
                </form>
            </div>
            <!-- <div class="card-footer d-flex justify-content-between">
                <a [routerLink]="['/login']">Faça seu login </a>
                <a [routerLink]="['/']">Voltar </a>
            </div> -->
        </div>
        
    </section>
    <!-- <div>
        <app-modal *ngIf="showError"></app-modal>
    </div> -->
   
</section>