<section class="section_login">
    <section class="container pt-5">
        <div class="card login_card">
            <div class="card-header">
                <h1>Faça seu Login</h1>
            </div>
            <div class="card-body">
                <form action="">
                    <input type="email" name="" id="" class="form-control" placeholder="Digite seu e-mail">
                    <input type="password" name="" id="" class="form-control mt-4" placeholder="Digite sua senha">
                    <button class="btn btn-primary mt-3"><i class="bi bi-box-arrow-in-right"></i> Entrar</button>
                </form>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <a [routerLink]="['/criar/socio']">Não tem login? </a>
                <a [routerLink]="['/']">Voltar </a>
            </div>
        </div>
    </section>
 
</section>